#container {
    display: flex;
    justify-content: space-evenly;
}

#container, #gore, #btnBrojevi, #zaUnos {
    width: 100%;
    
}
#container div {
    background-color: rgb(78, 236, 178);
    border-radius: 5px;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 2rem;
}
#gore, #btnBrojevi, #zaUnos, #kolekcija, #divMI, #divProvera, #hSab {
    display: flex;
    justify-content: center;
}
body {
    background-color: rgb(227, 76, 17);
}
#mestoUnosa, #btnProvera, #labMU {
    margin: 1rem 0;
}
#kolekcija {
    width: 100%;
    background-color: rgb(208, 215, 213);
    border-radius: 15px;
    flex-wrap: wrap;
}
button {
    width: 6rem;
    height: 4rem;
    background-color: rgb(7, 150, 245);
    border-radius: 10px;
    align-items: center;
}
nav {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}